<!DOCTYPE html>
<html lang="zh-CN">
<block name="title"><title>title</title></block>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../Public/css/common.css">
<link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

<!--引入头部header模板-->
<include file="Public/header"/>

<block name="main">主内容</block>



<!--引入底部footer模板-->
<include file="Public/footer"/>

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>