<extend name="Base/common"/>

<block name="defineScript">
    <script type="text/javascript">
        $(function(){
            var preview = document.getElementById('test-image-preview'),
                fileInput = document.getElementById('test-image-file'),
                info = document.getElementById('test-file-info');
            var thumbnailPath = "/1fengou/Public/{$productList['thumbnail']}" ;
            if('{$editType}' == 'update') {
                preview.style.backgroundImage = "url(" + thumbnailPath + ")";
            }
            /*
             使用H5的API进行商品缩略图读取和预览
             */
            // 监听change事件:
            fileInput.addEventListener('change', function () {
                // 清除背景图片:
                preview.style.backgroundImage = '';
                // 检查文件是否选择:
                if (!fileInput.value) {
                    info.innerHTML = '没有选择文件';
                    return;
                }
                // 获取File引用:
                var file = fileInput.files[0];
                // 获取File信息:
                info.innerHTML = '缩略图信息' + '<br>' + '文件: ' + file.name + '<br>' +
                        '大小: ' + file.size + '<br>' +
                        '修改: ' + file.lastModifiedDate;
                if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                    alert('不是有效的图片文件!');
                    return;
                }
                // 读取文件:
                var reader = new FileReader();
                reader.onload = function(e) {
                    var data = e.target.result; // 'data:image/jpeg;base64,/9j/4AAQSk...(base64编码)...'
                    preview.style.backgroundImage = "url(" + data + ")";
                };
                // 以DataURL的形式读取文件:
                reader.readAsDataURL(file);
            });
        });

        function createProduct(){
            $.ajax({
               type : "POST",
                url : "http://localhost/1fengou/index.php/home/Manage/saveProduct",
                data: $('#commentForm').serialize(),
                success : function($data){
                    if($data.status == 'error') {
                        $('#opFail').modal({
                            show: true,
                            backdrop: 'static'
                        });
                    } else{
                        $('#opSuccess').modal({
                            show: true,
                            backdrop: 'static'
                        });
                    }
                }
            });
        }
    </script>
</block>

<block name="mainContent">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                新建商品
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-gears"></i> 新建商品</a></li>
            </ol>
        </section>

        <section class="content">
                        <form id="commentForm" action="http://localhost/1fengou/index.php/home/Manage/saveProduct" enctype="multipart/form-data" method="post" >
                            <!--__URL__/saveProduct-->
                            <div>
                                <input id="shangpinid" name="id" minlength="2" type="text" class="form-control"  value="{$productList['id']}" style="display:none"/>
                            </div>
                            <div>
                                <label for="name">商品名(必填项)</label>
                                <input id="name" name="name" minlength="3" type="text" class="form-control" value="{$productList['name']}" required/>
                            </div>
                            <div>
                                <label for="price">商品价格￥(必填项)</label>
                                <input id="price" type="number" name="price" class="form-control" value="{$productList['price']}" required/>
                            </div>
                            <div>
                                <label for="des">商品简介</label>
                                <textarea id="des" maxlength="30" type="text" name="introduce" style="resize:none;" class="form-control">{$productList['introduce']}</textarea>
                            </div>
                            <div>
                                <label for="des">商品缩略图(预览)</label>
                            </div>
                            <div id="test-image-preview" style="border: 1px solid black; width: 50%; height: 200px;background-repeat:no-repeat;">
                            </div>
                            <div>
                                <input type="file" id="test-image-file" name="photo" class="active" />
                            </div>
                            <div id="test-file-info">
                            </div>
                            <!--<input type="submit" value="提交" class="btn btn-success btn-lg active" />-->
                            <button type="submit" class="btn btn-success">提交</button>
                        </form>
        </section>
    </div>

    <!-- （Modal）用于操作成功提示 -->
    <div class="modal fade" id="opSuccess" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--                    <button type="button" class="close"
                                                data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>-->
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    操作成功!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload();" >
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- （Modal）用于操作失败提示 -->
    <div class="modal fade" id="opFail" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    操作失败，数据错误，请联系管理员!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</block>