<!--表格正文-->
<div class="col-lg-12">
    <table id="productInfo" class="table table-bordered table-striped table-hover" style="table-layout:fixed ; ">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" class="inputSelect"/>
                    全选
                </th>
                <th class="tableHead">
                    商品ID
                </th>
                <th class="tableHead">
                    商品名称
                </th>
                <th class="tableHead">
                    商品价格(￥)
                </th>
                <th class="tableHead">
                    商品简介
                </th>
                <th class="tableHead">
                    已售数量
                </th>
                <th class="tableHead">
                    商品缩略图
                </th>
                <th class="tableHead">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            <div id="listContent">
                <volist name="productList" id="vo">
                    <tr onclick="javascript:myclick(this)">
                        <td>
                            <input type="checkbox" name="product" value={$vo['id']} />
                        </td>
                        <td align="center" name="productId" value={$vo['id']}>
                            {$vo['id']}
                        </td>
                        <td align="center">
                            {$vo['name']}
                        </td>
                        <td align="center">
                            {$vo['price']}
                        </td>
                        <td align="center" style="word-wrap:break-word;overflow:hidden;">
                            {$vo['introduce']}
                        </td>
                        <td align="center">
                            {$vo['sales']}
                        </td>
                        <td align="center">
                            <img width="150" height="150" src="__PUBLIC__/{$vo['thumbnail']}" alt="商品缩略图"/>
                        </td>
                        <td align="center">
                            <a class=".btn.btn-app" href="http://localhost/1fengou/index.php/home/Manage/editProduct/id/{$vo['id']}">
                                <i class="fa fa-edit"></i> 修改
                            </a>
                        </td>
                    </tr>
                </volist>
            </div>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll2"/>全选
                </th>
                <th class="tableHead">商品ID</th>
                <th class="tableHead">商品名称</th>
                <th class="tableHead">商品价格(￥)</th>
                <th class="tableHead">商品简介</th>
                <th class="tableHead">已售数量</th>
                <th class="tableHead">商品缩略图</th>
                <th class="tableHead">操作</th>
            </tr>
        </tfoot>
    </table>
</div>

<!--表格底部-->
<div class="row">
    <div class="col-lg-12">
        <div class="dataTables_info" id="nav_info" role="status" aria-live="polite">
            当前显示：第 {$from} 至 {$to} 条数据，共 {$total} 条数据
            <input id="hideTotalPage" style="display: none" value="{$totalPages}" />
        </div>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</div>

