<extend name="Base/common"/>

<block name="defineScript">
    <script type="text/javascript">
        $(function(){
            var table = $('#productInfo'),
                products = table.find('[name=product]'),
                selectAll = $('#selectAll');
                selectAll2 = $('#selectAll2');
            selectAll.click(function(){
                products.prop('checked',this.checked);
                selectAll2.prop('checked',this.checked);
            });
            selectAll2.click(function(){
                products.prop('checked',this.checked);
                selectAll.prop('checked',this.checked);
            });
            products.click(function(){
                var isAllChecked=products.map(function(){return this.checked;}).get().reduce((x,y) => x&&y);
                if(isAllChecked||selectAll.is(":checked")||selectAll2.is(":checked")){
                    selectAll.prop('checked',isAllChecked);
                    selectAll2.prop('checked',isAllChecked);
                }
            });

            $("#showPerPage").change(function(){
                var perPage = $("#showPerPage").val();
                $.ajax({
                    type:"GET",
                    url: "http://localhost/1fengou/index.php/home/Manage/index/p/1/pageCount/" + perPage + "/type/ajax",
                    success:function(data){
                        $("#manageTable").html(data);
                    }
                });
            })
        });

        function selectCount(){
            var table = $('#productInfo'),
                    products = table.find('[name=product]'),
                    re = 0;
            products.map(function(){
                if(this.checked){
                    re = re +1;
                }
                return re;
            });
            if(re == 0) {
                $('#selectAtLeastOne').modal({
                    show: true,
                    backdrop: 'static'
                });
            } else {
                $('#deleteConfirm').modal({
                    show: true,
                    backdrop: 'static'
                });
            }
        };

        function deleteBatch(){
            var table = $('#productInfo'),
                products = table.find('[name=product]'),
                arr = [],
                re = 0;
            var selectedList = products.map(function(){
                if(this.checked){
                    arr.push(this.value);
                    re = re +1;
                }
                return arr;
            }).get().slice(0,re);

            $.ajax({
                type: "GET",
                url: "http://localhost/1fengou/index.php/home/Manage/deleteProduct/id/" + selectedList,
                dataType:'json',
                success: function ($data) {
                    if($data.status == 'success'){
                        $(".modal-backdrop").remove();
                        $(".jvectormap-label").remove();
                        var perPage = $("#showPerPage").val();
                        $.ajax({
                            type: "GET",
                            url: "http://localhost/1fengou/index.php/home/Manage/index/page/" + {$page} + "/pageCount/" + perPage,
                            success:function(){
                                $('#deleteConfirm').modal('toggle');
                                $('#opSuccess').modal({
                                    show: true,
                                    backdrop: 'static'
                                });
                            }
                        })
                    } else {
                        $('#opFail').modal('show');
                    }
                }
            });
        };

        function myclick(o){
            var rd = $(o).find('[name=product]');
        }

        function productSearch(){
            var serContent = $("#query").val();
            if(serContent != ""){
                $.ajax({
                    type:"GET",
                    url : "http://localhost/1fengou/index.php/home/Manage/index/id/" +  serContent ,
                    success:function(data){
                        $("#manageTable").html(data);
                    }
                })
            } else {
                $('#serContent').modal('show');
            }
        }

        function reset(){
            $("#query").val("");
            $.ajax({
                type:"GET",
                url: "http://localhost/1fengou/index.php/home/Manage/index/p/1/pageCount/10/type/ajax",
                success:function(data){
                    $("#manageTable").html(data);
                }
            });
        }
    </script>
</block>

<block name="mainContent">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                管理商品
                <small>商品详情</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-gears"></i> 管理商品</a></li>
                <li class="active">商品详情</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <section class="col-lg-12 col-xs-12">
                    <div>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">商品详情列表</h3>
                            </div>
                            <div class="box-body">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="dataTables_length" id="example1_length">
                                                <label>每页显示
                                                    <select name="example1_length" aria-controls="example1" class="form-control input-sm" id="showPerPage">
                                                        <option value="10" {$pageCount}==10?'selected':''>10</option>
                                                        <option value="25" {$pageCount}==25?'selected':''>25</option>
                                                        <option value="50" {$pageCount}==50?'selected':''>50</option>
                                                        <option value="100" {$pageCount}==100?'selected':''>100</option>
                                                    </select> 条数据
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div id="example1_filter" class="dataTables_filter">
                                                <div class="form-group">
                                                    <label for="query">查询商品ID:
                                                        <input id="query" type="search" class="form-control input-sm" placeholder="请输入商品ID" aria-controls="example1">
                                                    </label>
                                                </div>
                                                <a class="btn btn-success btn-lg btn-sm active" role="button" href="javascript:productSearch()">查询</a>
                                                <a class="btn btn-primary btn-lg btn-sm active" role="button" href="javascript:reset()">重置</a>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <label>操作选项：</label>
                                            <a class="btn btn-danger btn-lg btn-sm active" role="button" href="javascript:selectCount()">批量删除</a>
                                            <!--data-toggle="modal" data-target="#deleteConfirm"-->
                                        </div>

                                    </div>

                                    <div id="manageTable">
                                        <include file="Index/manageTable"/>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>



        </section>
    </div>


    <!-- （Modal）用于操作成功提示 -->
    <div class="modal fade" id="opSuccess" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
<!--                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>-->
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    操作成功!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload();" >
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- （Modal）用于操作失败提示 -->
    <div class="modal fade" id="opFail" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    操作失败，数据错误，请联系管理员!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- （Modal）用于至少选择一条提示 -->
    <div class="modal fade" id="selectAtLeastOne" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    请至少选择一条数据!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- （Modal）用于删除二次确认提示 -->
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        删除提示
                    </h4>
                </div>
                <div class="modal-body">
                    确认删除所选商品？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="javascript:deleteBatch()">
                        确认
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- （Modal）用于搜索时请输入内容提示 -->
    <div class="modal fade" id="serContent" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        操作提示
                    </h4>
                </div>
                <div class="modal-body">
                    请输入搜索内容!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

</block>