<extend name="Base/common"/>

<block name="title"><title>1fengou</title></block>

<block name="main">
    <script>
        function deleteProduct(){
            var result = confirm("确定要删除该商品全部信息吗？");
            if(result==false){
                window.event.returnValue = false;
            }

        }
    </script>
    <div class="container-fluid">
        <div class='row-fluid'>
            <div class='col-md-8'>
                <h2>商品列表</h2>
                <div name="product_detail">
                    <volist name="productList" id="vo">
                        <img width="150" height="150" src="__PUBLIC__/{$vo['thumbnail']}" alt="商品缩略图"/>
                        <div class="info">
                            <h3>{$vo['name']}</h3>
                            <p><span><i class="fa fa-cny"></i> 价格</span>：{$vo['price']}</p>
                            <p><span><i class="fa fa-file-text"></i> 简介</span>：{$vo['introduce']}</p>
                            <p><span><i class="fa fa-thumbs-o-up"></i> 已售</span>：{$vo['sales']}</p>
                            <a href="#" class="btn btn-info btn-lg active" role="button">查看详情</a>
                            <a href="http://localhost/1fengou/index.php/home/Manage/modifyProductStep_1?id={$vo['id']}" class="btn btn-danger btn-lg active" role="button">修改商品</a>
                            <a href="http://localhost/1fengou/index.php/home/Manage/deleteProduct?id={$vo['id']}" onclick="deleteProduct()" class="btn btn-success btn-lg active" role="button">删除商品</a>
                        </div>
                        <br/>
                    </volist>
                </div>
            </div>

            <div class='col-md-4'>
                <h2><span><i class="fa fa-thumbs-o-up"></i> 相关推荐</span></h2>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href='#'>Another Link 1</a></li>
                    <li><a href='#'>Another Link 2</a></li>
                    <li><a href='#'>Another Link 3</a></li>
                </ul>
            </div>
        </div>
    </div>
</block>